@model WebAdvert.Web.Models.Accounts.ResetPasswordModel;

<div class="row">
  <div class="col-md-4">
    <h4>Reset Password</h4>
    <hr>

    <form method="post" asp-action="ResetPassword">
      <div asp-validation-summary="All" class="text-danger"></div>

      <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
      </div>

      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>